.form {
  max-width: 720px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
  margin: auto;
}

.answer_container {
  display: flex;
  gap: 8px;
}

.children {
  margin-left: 32px;
}

.question__container {
  border-bottom: 1px solid #5c8374;
  background-color: rgba(11, 239, 239, 0.042);
}

.question__field {
  display: flex;
  justify-content: space-between;
  padding: 12px 16px;
  border-radius: 4px;
}
